@using PJ103V3.Models.DB
@model OM_79_HUB.Components.WorkflowViewModel


@{
    int completedItems = Model.OMTableCount ?? 0;
    int requiredItems = Model.OMRequiredCount ?? 1; // To avoid division by zero
    double percentageCompleted = (double)completedItems / requiredItems * 100;
    @if (Model.OM79Workflow?.NextStep == "AddSegment")
    {
        percentageCompleted *= 0.9; // Reduce by 10% if there are segments needed
    }

    string[] workflowSteps = {
        "SubmittedToDistrict",
        "SubmittedToDistrictManager",
        "SubmittedToCentralHDS",
        "SubmittedToCentralGIS",
        "SubmittedToCentralSecondHDS",
        "SubmittedToCentralChief",
        "SubmittedToCentralThirdHDS",
        "SubmittedToCentralLRS",
        "Finalized"
    };

    int currentStepIndex = -1;
    if (!string.IsNullOrEmpty(Model.Central79Hub?.WorkflowStep))
    {
        currentStepIndex = Array.IndexOf(workflowSteps, Model.Central79Hub.WorkflowStep);
    }

}

<div style="padding-top: 20px; text-align: center;">
    @*Header for the entrie panel*@
    <h3 style="font-weight: bold; text-decoration: underline;">OM79 Workflow</h3>
    <div class="internal-right-column-content">

        @*Check for avaliable entry*@
        @if (Model != null && Model.Central79Hub != null)
        {
            <p>Currently Displaying Information Regarding OM79 with ID: @Model.Central79Hub.OMId</p>

            @*Show when the entry has not been submitted for review*@
            @if (Model.Central79Hub.IsSubmitted == false)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @percentageCompleted%;" aria-valuenow="@percentageCompleted" aria-valuemin="0" aria-valuemax="100">
                        @percentageCompleted.ToString("0.00")%
                    </div>
                </div>
                <p>@completedItems / @requiredItems Items Completed.</p>

                <h4><u>Completed Item Records</u></h4>
                <div class="completed">
                    @if (Model.OMTableList != null && Model.OMTableList.Any())
                    {
                        <ul>
                            @foreach (var item in Model.OMTableList)
                            {
                                <li style="text-align: left;">Route: @item.RouteIDB, @item.RoadChangeType</li>

                                @if (item.RoadChangeType != "Addition" && item.RoadChangeType != "Redesignation")
                                {
                                    <ul>
                                        <li style="text-align: left;">
                                            <span style="color: green;">&#10004; <!-- Checkmark --> </span>
                                            No PJ103-Segment Needed <br />
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    int currentItem = item.Id;
                                    var segments = Model.PJ103SegmentsByOMTable != null && Model.PJ103SegmentsByOMTable.ContainsKey(currentItem)
                                    ? Model.PJ103SegmentsByOMTable[currentItem]
                                    : new List<Submission>();

                                    var workflow = Model.PJ103WorkflowsByOMTable != null && Model.PJ103WorkflowsByOMTable.ContainsKey(currentItem)
                                    ? Model.PJ103WorkflowsByOMTable[currentItem]
                                    : null;

                                    if (workflow != null)
                                    {
                                        int completedSegments = segments.Count();
                                        int requiredSegments = workflow.NumberOfSegments ?? 0;

                                        <ul>
                                            <li style="text-align: left;">
                                                @if (completedSegments >= requiredSegments)
                                                {
                                                    <span style="color: green;">&#10004; <!-- Checkmark --> </span>
                                                }
                                                else
                                                {
                                                    <span style="color: red;">&#10008; <!-- X mark --> </span>
                                                }
                                                @completedSegments / @requiredSegments PJ103 Segments Completed <br />
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <ul>
                                            <li style="text-align: left;">Segments Required<br /></li>
                                        </ul>
                                    }
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No items completed.</p>
                    }
                </div>
                <br />
                <br />
                @if (Model.Central79Hub.WorkflowStep == "NotStarted")
                {
                    <div class="nextStep">
                        <h4><u>Next Step</u></h4>
                        <div class="nextStep">
                            @if (Model.OM79Workflow?.NextStep == "Submitted")
                            {
                                <p>This form is fully completed and no further actions are required.</p>
                            }
                            else
                            {
                                @if (TempData["PageStatus"]?.ToString() != "GoingToCreatePage")
                                {
                                    @if (Model.OM79Workflow?.NextStep == "AddFirstItem")
                                    {
                                        <p>Please proceed by adding the first item to your OM79 workflow.</p>
                                        <a href="@Url.Action("Create", "OM79", new { uniqueID = Model.Central79Hub.OMId })" class="btn btn-primary">Add First Item</a>
                                    }
                                    else if (Model.OM79Workflow?.NextStep == "AddItem")
                                    {
                                        <p>Proceed by adding the next item to your OM79.</p>
                                        <a href="@Url.Action("Create", "OM79", new { uniqueID = Model.Central79Hub.OMId })" class="btn btn-primary">Add Next Item</a>
                                    }
                                    else if (Model.OM79Workflow?.NextStep == "AddSegment")
                                    {
                                        var newestItem = Model.OMTableList.OrderByDescending(item => item.Id).FirstOrDefault();
                                        <p>Proceed by adding a PJ103-Segment to your recently submitted item.</p>
                                        <a href="@Url.Action("Create", "PJ103", new { uniqueID = newestItem.Id })" class="btn btn-primary">Add PJ103-Segment</a>
                                    }
                                    else if (Model.OM79Workflow?.NextStep == "FinishSubmit")
                                    {
                                        <p>All items and segments are complete. Click 'Finish & Submit For Review' to proceed.</p>
                                        <form asp-action="FinishSubmit" asp-controller="CENTRAL79HUB" method="post">
                                            <input type="hidden" name="id" value="@Model.Central79Hub.OMId" />
                                            <button type="submit" class="btn btn-primary">Finish & Submit For Review</button>
                                        </form>
                                    }
                                }
                                else
                                {
                                    <p>You are currently working on the next step for this OM79, continue by filling out all of the necessary information and clicking 'Save'</p>
                                }
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <p>This is where there can be info displayed about the signature workflow</p>
            }
        }
                    @*There is no entry loaded here*@
        else
        {
            <div class="internal-right-column-content">
                <p><u>To start a new OM79 follow the instructions below:</u></p>
                <ol style="text-align: left; padding: 0 15%;">
                    <li>Click on the "Home" button in the navigation bar above.</li>
                    <li>Click on the "Create a new OM79 Form" link on the homepage.</li>
                    <li>Fill out all of the required information for the form and click "Create"</li>
                    <li>Input the number of items that will be on this OM79 and click "Submit"</li>
                </ol>

                <br />

                <p><u>To continue working on an active OM79 follow the instructions below:</u></p>
                <ol style="text-align: left; padding: 0 15%;">
                    <li>Click on the "Indexes" dropdown in the navigation bar above.</li>
                    <li>Select "OM79 Forms List" from the dropdown menu.</li>
                    <li>Navigate to the OM79 entry you would like to work on.</li>
                    <li>Click on the "Details" button for the selected OM79.</li>
                </ol>
            </div>
        }
    </div>
</div>

<style>
    .workflow-diagram.vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .workflow-step {
        padding: 10px 20px;
        border-radius: 4px;
        border: 2px solid #ccc;
        text-align: center;
        position: relative;
        margin: 10px 0;
    }

        .workflow-step.completed {
            border-color: green;
            background-color: #e0ffe0;
        }

        .workflow-step.current {
            border-color: blue;
            background-color: #e0e0ff;
        }

        .workflow-step.upcoming {
            border-color: gray;
            background-color: #f0f0f0;
        }

    .workflow-connector {
        width: 4px;
        height: 50px;
        background-color: #ccc;
    }

        .workflow-connector.completed {
            background-color: green;
        }

        .workflow-connector.upcoming {
            background-color: gray;
        }
</style>
