@using PJ103V3.Models.DB
@model OM_79_HUB.Components.WorkflowViewModel

<div style="padding-top: 20px; text-align: center;">
    <h3 style="font-weight: bold; text-decoration: underline;">OM79 Workflow</h3>
    @if (Model != null && Model.Central79Hub != null)
    {
        <div class="internal-right-column-content">
            <p>Currently working on OM79 with ID: @Model.Central79Hub.OMId</p>
            @{
                int completedItems = Model.OMTableCount ?? 0;
                int requiredItems = Model.OMRequiredCount ?? 1; // To avoid division by zero
                double percentageCompleted = (double)completedItems / requiredItems * 100;
                @if (Model.OM79Workflow?.NextStep == "AddSegment")
                {
                    percentageCompleted *= 0.9; // Reduce by 10% if there are segments needed
                }
            }
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @percentageCompleted%;" aria-valuenow="@percentageCompleted" aria-valuemin="0" aria-valuemax="100">
                    @percentageCompleted.ToString("0.00")%
                </div>
            </div>
            <p>@completedItems / @requiredItems Items Completed.</p>

            <h4>Completed Item Records</h4>
            <div class="completed">
                @if (Model.OMTableList != null && Model.OMTableList.Any())
                {
                    <ul>
                        @foreach (var item in Model.OMTableList)
                        {
                            <li style="text-align: left;">Route: @item.RouteIDB, @item.RoadChangeType</li>

                            @if (item.RoadChangeType != "Addition" && item.RoadChangeType != "Redesignation")
                            {
                                <ul>
                                    <li style="text-align: left;">
                                        <span style="color: green;">&#10004; <!-- Checkmark --> </span>
                                        No PJ103-Segment Needed <br />
                                    </li>
                                </ul>
                            }
                            else
                            {
                                int currentItem = item.Id;
                                var segments = Model.PJ103SegmentsByOMTable != null && Model.PJ103SegmentsByOMTable.ContainsKey(currentItem)
                                ? Model.PJ103SegmentsByOMTable[currentItem]
                                : new List<Submission>();

                                var workflow = Model.PJ103WorkflowsByOMTable != null && Model.PJ103WorkflowsByOMTable.ContainsKey(currentItem)
                                ? Model.PJ103WorkflowsByOMTable[currentItem]
                                : null;

                                if (workflow != null)
                                {
                                    int completedSegments = segments.Count();
                                    int requiredSegments = workflow.NumberOfSegments ?? 0;

                                    <ul>
                                        <li style="text-align: left;">
                                            @if (completedSegments >= requiredSegments)
                                            {
                                                <span style="color: green;">&#10004; <!-- Checkmark --> </span>
                                            }
                                            else
                                            {
                                                <span style="color: red;">&#10008; <!-- X mark --> </span>
                                            }
                                            @completedSegments / @requiredSegments PJ103 Segments Completed <br />
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        <li style="text-align: left;">Segments Required<br /></li>
                                    </ul>
                                }
                            }
     
                        }
                    </ul>
                }
                else
                {
                    <p>No items completed.</p>
                }
            </div>


            <br /> 
            <br />

            <div class="nextStep">
                <h4><u>Next Step</u></h4>
                <div class="nextStep">
                    @if (TempData["PageStatus"]?.ToString() != "GoingToCreatePage")
                    {
                        @if (Model.OM79Workflow?.NextStep == "AddFirstItem")
                        {
                            <p>Please proceed by adding the first item to your OM79 workflow.</p>
                            <a href="@Url.Action("Create", "OM79", new { uniqueID = Model.Central79Hub.OMId })" class="btn btn-primary">Add First Item</a>
                        }
                        @if (Model.OM79Workflow?.NextStep == "AddItem")
                        {
                            <p>Proceed by adding the next item to your OM79.</p>
                            <a href="@Url.Action("Create", "OM79", new { uniqueID = Model.Central79Hub.OMId })" class="btn btn-primary">Add Next Item</a>
                        }
                        @if (Model.OM79Workflow?.NextStep == "AddSegment")
                        {
                            var newestItem = Model.OMTableList.OrderByDescending(item => item.Id).FirstOrDefault();
                            <p>Proceed by adding a PJ103-Segment to your recently submitted item.</p>
                            <a href="@Url.Action("Create", "PJ103", new { uniqueID = newestItem.Id })" class="btn btn-primary">Add PJ103-Segment</a>
                        }
                        @if (Model.OM79Workflow?.NextStep == "FinishSubmit")
                        {
                            <p>All items and segments are complete. Click 'Finish & Submit For Review' to proceed.</p>
                            <button type="button" class="btn btn-primary">Finish & Submit For Review</button>
                        }
                    }
                    else
                    {
                        <p>Complete the current form by filling out all the required fields and click 'Save'</p>
                    }
                </div>
            </div>
        </div>
           @* <div class="nextStep">
                <h4><u>Next Step</u></h4>

                <div class="nextStep">
                    @if (Model.OM79Workflow?.NextStep == "AddFirstItem")
                    {
                        <p>Please proceed by adding the first item to your OM79 workflow.</p>
                        <a href="@Url.Action("Create", "OM79", new { uniqueID = Model.Central79Hub.OMId})" class="btn btn-primary">Add First Item</a>
                    }
                    @if (Model.OM79Workflow?.NextStep == "AddItem")
                    {
                        <p>Proceed by adding the next item to your OM79.</p>
                        <a href="@Url.Action("Create", "OM79", new { uniqueID = Model.Central79Hub.OMId})" class="btn btn-primary">Add Next Item</a>
                    }
                    @if (Model.OM79Workflow?.NextStep == "AddSegment")
                    {
                        var newestItem = Model.OMTableList.OrderByDescending(item => item.Id).FirstOrDefault();
                        <p>Proceed by adding a PJ103-Segment to your recently submitted item.</p>
                        <a href="@Url.Action("Create", "PJ103", new { uniqueID = newestItem.Id })" class="btn btn-primary">Add PJ103-Segment</a>
                    }
                    @if (Model.OM79Workflow?.NextStep == "FinishSubmit")
                    {
                        <p>All items and segments are complete. Click 'Finish & Submit For Review' to proceed.</p>
                        <button type="button" class="btn btn-primary">Finish & Submit For Review</button>
                    }
                </div>
            </div>
        </div>*@

        <br />
        <br /> 
        <br />
        <div class="saveForLater">
            @if (TempData["PageStatus"]?.ToString() != "GoingToCreatePage" && Model.OM79Workflow?.NextStep != "FinishSubmit")
            {
                <h4><u>Save Progress</u></h4>
                <p>If you would like to save your progress and resume at a later time. Click 'Save For Later' to proceed</p>
                <a href="@Url.Action("SaveForLater", "Home")" class="btn btn-primary">Save For Later</a>
            }
        </div>
        @*
        <div class="saveForLater">
            @if (Model.OM79Workflow?.NextStep != "Finish")
            {
                <h4><u>Save Progress</u></h4>
                <p>If you would like to save your progress and resume at a later time. Click 'Save For Later' to proceed</p>
                <a href="@Url.Action("SaveForLater", "Home")" class="btn btn-primary">Save For Later</a>
            }
        </div>
        *@
    }
    else
    {
        <div class="internal-right-column-content">

            <p><u>To start a new OM79 follow the instructions below:</u></p>
            <ol style="text-align: left; padding: 0 15%;">
                <li>Click on the "Home" button in the naviagation bar above.</li>
                <li>Click on the "Create a new OM79 Form" link on the homepage.</li>
                <li>Fill out all of the required information for the form and click "Create"</li>
                <li>Input the amount of items that will be on this OM79 and click "Submit"</li>
            </ol>

            <br />

            <p><u>To continue working on an active OM79 follow the instructions below:</u></p>
            <ol style="text-align: left; padding: 0 15%;">
                <li>Click on the "Indexes" dropdown in the navigation bar above.</li>
                <li>Select "OM79 Forms List" from the dropdown menu.</li>
                <li>Navigate to the OM79 entry you would like to work on.</li>
                <li>Click on the "Details" button for the selected OM79.</li>
            </ol>

         

        </div>
    }
</div>


