@model CENTRAL79HUB

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h2 style="font-weight: bold">Edit OM-79</h2>
<hr />
<div class="row">
    <form id="om79Form" asp-action="Edit" asp-route-id="@Model.OMId">
        <div class="row form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <label asp-for="UserId" class="control-label">@Html.DisplayNameFor(model => model.UserId)</label>
                <input asp-for="UserId" class="form-control" disabled />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="District" class="control-label">@Html.DisplayNameFor(model => model.District)</label>
                <input asp-for="District" class="form-control" disabled />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="County" class="control-label">@Html.DisplayNameFor(model => model.County)</label>
                <input asp-for="County" class="form-control" disabled />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="RouteID" class="control-label">@Html.DisplayNameFor(model => model.RouteID)</label>
                <input asp-for="RouteID" class="form-control" />
                <span asp-validation-for="RouteID" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="EmailSubmit" class="control-label">@Html.DisplayNameFor(model => model.EmailSubmit)</label>
                <input asp-for="EmailSubmit" class="form-control" type="email" />
                <span asp-validation-for="EmailSubmit" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Otherbox" class="control-label">@Html.DisplayNameFor(model => model.Otherbox)<span class="required-asterisk">*</span></label>
                <textarea asp-for="Otherbox" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Otherbox" class="text-danger"></span>
            </div>



            <!-- Hidden Fields -->
            @* Hidden fields to preserve non-editable data *@
            <input type="hidden" asp-for="OMId" />
            <input type="hidden" asp-for="OM79Key" />
            <input type="hidden" asp-for="PJ103Key" />
            <input type="hidden" asp-for="County" />
            <input type="hidden" asp-for="District" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="IDNumber" />
            <input type="hidden" asp-for="IsArchive" />
            <input type="hidden" asp-for="DateSubmitted" />
            <input type="hidden" asp-for="IsSubmitted" />
            <input type="hidden" asp-for="WorkflowStep" />
            <input type="hidden" asp-for="Edited" />
            <input type="hidden" asp-for="HasGISReviewed" />

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<br />
<div>
    <a asp-action="EditPackage" asp-route-id="@Model.OMId" class="btn btn-secondary">Return to Package Editor</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
