@using OM_79_HUB.Models;

@model OM_79_HUB.Components.LinkedSignatureToSignViewComponent.SignaturesToSignViewModel

@{
    string hdssig = "HDS Not Signed";
    string gissig = "GIS Manager Not Signed";
    string chiefsig = "Chief Not Signed";
    string dismansig = "District Manager Not Signed";
    string regengsig = "Regional Engineer Not Signed";
    string diropsig = "Director of Operations Not Signed";
}

@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralHDS")
{
    <hr />
    <p>HDS Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("HDS"))
    {
        <div class="input-group">
            <span class="input-group-text" id="hdssiglabel">HDS</span>
            <input type="text" class="form-control" readonly value="@hdssig" />
            <button class="btn btn-primary signCentralHDS" value="HDS">Sign</button>
        </div>
        <button class="collapsible">HDS Details</button>
        <div class="content" style="display: none;"></div>
    }
}
@*<div class="modal" id="signModalHDS">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralHDS" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="deny">Edited</label>&nbsp;
                            <input type="radio" id="edited" name="editradio" value="edited" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="modal" id="signModalHDS">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralHDS" asp-controller="CentralSignatureWorkflow" id="signFormHDS">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />

                            <label for="approveHDS">Approve</label>
                            <input type="radio" id="approveHDS" name="decisionHDS" value="approve" class="decision-radio-HDS" />
                            <label for="editHDS">Edited</label>&nbsp;
                            <input type="radio" id="editHDS" name="decisionHDS" value="edited" class="decision-radio-HDS" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxHDS" name="signaturemodal" class="form-control signature-input-HDS" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsHDS" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonHDS" class="btn btn-success" disabled />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralGIS")
{
    <hr />
    <p>GIS Manager Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("GIS Manager"))
    {
        <div class="input-group">
            <span class="input-group-text" id="gissiglabel">GIS Manager</span>
            <input type="text" class="form-control" readonly value="@gissig" />
            <button class="btn btn-primary signCentralGIS" value="GIS">Sign</button>
        </div>
        <button class="collapsible">GIS Manager Details</button>
        <div class="content" style="display: none;"></div>
    }
}
<div class="modal" id="signModalGIS">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralGIS" asp-controller="CentralSignatureWorkflow" id="signFormGIS">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />

                            <label for="approveGIS">Approve</label>
                            <input type="radio" id="approveGIS" name="decisionGIS" value="approve" class="decision-radio-GIS" />

                            <label for="editGIS">Edited</label>&nbsp;
                            <input type="radio" id="editGIS" name="decisionGIS" value="edited" class="decision-radio-GIS" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxGIS" name="signaturemodal" class="form-control signature-input-GIS" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsGIS" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonGIS" class="btn btn-success" disabled />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="signModalGIS">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralGIS" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="edit">Edited</label>&nbsp;
                            <input type="radio" id="edited" name="editradio" value="edited" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@if (Model.OmEntry.WorkflowStep == "SubmittedBackToDistrictManager")
{
    <hr />
    <p>District Manager Revision Review:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("District Manager"))
    {
        <div class="input-group">
            <span class="input-group-text" id="dismansiglabel">District Manager</span>
            <input type="text" class="form-control" readonly value="@dismansig" />
            <button class="btn btn-primary signCentralDistrictManager" value="DistrictManager">Sign</button>
        </div>
        <button class="collapsible">District Manager Details</button>
        <div class="content" style="display: none;"></div>
    }
}
<div class="modal" id="signModalDistrictManager">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralDistrictManager" asp-controller="CentralSignatureWorkflow" id="signFormDistrictManager">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />

                            <label for="approveDistrict">Approve</label>
                            <input type="radio" id="approveDistrict" name="decisionDistrict" value="approve" class="decision-radio-DistrictManager" />

                            <label for="editDistrict">Edited</label>&nbsp;
                            <input type="radio" id="editDistrict" name="decisionDistrict" value="edited" class="decision-radio-DistrictManager" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxDistrictManager" name="signaturemodal" class="form-control signature-input-DistrictManager" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsDistrictManager" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonDistrictManager" class="btn btn-success" disabled />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="signModalDistrictManager">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralDistrictManager" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="edit">Edited</label>&nbsp;
                            <input type="radio" id="edited" name="editradio" value="edited" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
@if (Model.OmEntry.WorkflowStep == "SubmittedToRegionalEngineer")
{
    <hr />
    <p>Regional Engineer Review:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("Regional Engineer"))
    {
        <div class="input-group">
            <span class="input-group-text" id="regengsiglabel">Regional Engineer</span>
            <input type="text" class="form-control" readonly value="@regengsig" />
            <button class="btn btn-primary signCentralRegionalEngineer" value="RegionalEngineer">Sign</button>
        </div>
        <button class="collapsible">Regional Engineer</button>
        <div class="content" style="display: none;"></div>
    }
}

<div class="modal" id="signModalRegionalEngineer">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Regional Engineer Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralRegionalEngineer" asp-controller="CentralSignatureWorkflow" id="signFormRegionalEngineer">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="Regional Engineer" name="sigtype" id="sigtype" />

                            <label for="approveRegionalEngineer">Approve</label>
                            <input type="radio" id="approveRegionalEngineer" name="decisionRegionalEngineer" value="approve" class="decision-radio-RegionalEngineer" />

                            <label for="denyRegionalEngineer">Deny</label>&nbsp;
                            <input type="radio" id="denyRegionalEngineer" name="decisionRegionalEngineer" value="deny" class="decision-radio-RegionalEngineer" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxRegionalEngineer" name="signaturemodal" class="form-control signature-input-RegionalEngineer" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsRegionalEngineer" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonRegionalEngineer" class="btn btn-success" disabled />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="modal" id="signModalRegionalEngineer">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Regional Engineer Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralRegionalEngineer" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="Regional Engineer" name="sigtype" id="sigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="deny">Deny</label>&nbsp;
                            <input type="radio" id="deny" name="denradio" value="deny" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@

@if (Model.OmEntry.WorkflowStep == "SubmittedToDirectorOfOperations")
{
    <hr />
    <p>Director of Operations Review:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("Director of Operations"))
    {
        <div class="input-group">
            <span class="input-group-text" id="diropsiglabel">Director of Operations</span>
            <input type="text" class="form-control" readonly value="@diropsig" />
            <button class="btn btn-primary signCentralDirectorOfOperations" value="DirectorOfOperations">Sign</button>
        </div>
        <button class="collapsible">Director of Operations</button>
        <div class="content" style="display: none;"></div>
    }
}
<div class="modal" id="signModalDirectorOfOperations">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Director of Operations Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralDirectorOfOperations" asp-controller="CentralSignatureWorkflow" id="signFormDirectorOfOperations">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="Director of Operations" name="sigtype" id="diropsigtype" />

                            <label for="approveDirectorOfOperations">Approve</label>
                            <input type="radio" id="approveDirectorOfOperations" name="decisionDirectorOfOperations" value="approve" class="decision-radio-DirectorOfOperations" />

                            <label for="denyDirectorOfOperations">Deny</label>&nbsp;
                            <input type="radio" id="denyDirectorOfOperations" name="decisionDirectorOfOperations" value="deny" class="decision-radio-DirectorOfOperations" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxDirectorOfOperations" name="signaturemodal" class="form-control signature-input-DirectorOfOperations" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsDirectorOfOperations" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonDirectorOfOperations" class="btn btn-success" disabled />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="signModalDirectorOfOperations">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Director of Operations Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralDirectorOfOperations" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="Director of Operations" name="sigtype" id="diropsigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="deny">Deny</label>&nbsp;
                            <input type="radio" id="deny" name="denradio" value="deny" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralChief")
{
    <hr />
    <p>Chief Engineer of Operations Review:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("Chief"))
    {
        <div class="input-group">
            <span class="input-group-text" id="chiefsiglabel">Chief Engineer of Operations</span>
            <input type="text" class="form-control" readonly value="@chiefsig" />
            <button class="btn btn-primary signCentralChiefEngineerOfOperations" value="ChiefEngineerOfOperations">Sign</button>
        </div>
        <button class="collapsible">Chief Engineer of Operations</button>
        <div class="content" style="display: none;"></div>
    }
}
<div class="modal" id="signModalChiefEngineerOfOperations">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chief Engineer of Operations Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralChiefEngineerOfOperations" asp-controller="CentralSignatureWorkflow" id="signFormChiefEngineerOfOperations">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="Chief Engineer of Operations" name="sigtype" id="chiefsigtype" />

                            <label for="approveChiefEngineer">Approve</label>
                            <input type="radio" id="approveChiefEngineer" name="decisionChiefEngineer" value="approve" class="decision-radio-ChiefEngineerOfOperations" />

                            <label for="denyChiefEngineer">Deny</label>&nbsp;
                            <input type="radio" id="denyChiefEngineer" name="decisionChiefEngineer" value="deny" class="decision-radio-ChiefEngineerOfOperations" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxChiefEngineerOfOperations" name="signaturemodal" class="form-control signature-input-ChiefEngineerOfOperations" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsChiefEngineerOfOperations" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonChiefEngineerOfOperations" class="btn btn-success" disabled />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<div class="modal" id="signModalChiefEngineerOfOperations">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chief Engineer of Operations Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralChiefEngineerOfOperations" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="Chief Engineer of Operations" name="sigtype" id="chiefsigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="deny">Deny</label>&nbsp;
                            <input type="radio" id="deny" name="denradio" value="deny" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
@if (Model.OmEntry.WorkflowStep == "SubmittedBackToDistrictManagerFromOperations")
{
    <hr />
    <p>District Manager Review:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("District Manager"))
    {
        <div class="input-group">
            <span class="input-group-text" id="dismansiglabel">District Manager</span>
            <input type="text" class="form-control" readonly value="@dismansig" />
            <button class="btn btn-primary signCentralDeniedDistrictManager" value="DistrictManager">Sign</button>
        </div>
        <button class="collapsible">District Manager</button>
        <div class="content" style="display: none;"></div>
    }
}
<div class="modal" id="signModalDeniedDistrictManager">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">District Manager Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralDeniedDistrictManager" asp-controller="CentralSignatureWorkflow" id="signFormDeniedDistrictManager">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="District Manager" name="sigtype" id="dismansigtype" />

                            <label for="editDeniedDM">Edit</label>
                            <input type="radio" id="editDeniedDM" name="decisionDeniedDM" value="edit" class="decision-radio-DeniedDistrictManager" />

                            <label for="closeDeniedDM">Close</label>&nbsp;
                            <input type="radio" id="closeDeniedDM" name="decisionDeniedDM" value="close" class="decision-radio-DeniedDistrictManager" />

                            <br />

                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigboxDeniedDistrictManager" name="signaturemodal" class="form-control signature-input-DeniedDistrictManager" />

                            <br />

                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="commentsDeniedDistrictManager" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>

                            <br />

                            <input type="submit" id="modalsubmitbuttonDeniedDistrictManager" class="btn btn-success" disabled />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="signModalDeniedDistrictManager">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">District Manager Review</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMCentralDeniedDistrictManager" asp-controller="CentralSignatureWorkflow">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="District Manager" name="sigtype" id="dismansigtype" />
                            <label for="edit">Edited</label>
                            <input type="radio" id="edit" name="editradio" value="edit" />
                            <label for="close">Close</label>&nbsp;
                            <input type="radio" id="close" name="closeradio" value="close" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Helper function to enable/disable submit buttons based on conditions
        function toggleSubmitButton(modalPrefix) {
            const signature = document.querySelector(`#sigbox${modalPrefix}`).value.trim();
            const decisionRadios = document.querySelectorAll(`.decision-radio-${modalPrefix}:checked`);
            const submitButton = document.querySelector(`#modalsubmitbutton${modalPrefix}`);

            if (signature && decisionRadios.length > 0) {
                submitButton.removeAttribute('disabled');
            } else {
                submitButton.setAttribute('disabled', 'disabled');
            }
        }

        // Add event listeners to check validation for each form
        function setupValidation(modalPrefix) {
            document.querySelector(`#sigbox${modalPrefix}`).addEventListener('input', function () {
                toggleSubmitButton(modalPrefix);
            });

            document.querySelectorAll(`.decision-radio-${modalPrefix}`).forEach(function (radio) {
                radio.addEventListener('change', function () {
                    toggleSubmitButton(modalPrefix);
                });
            });
        }

        // Call the setupValidation for each modal form
        setupValidation('HDS'); // for HDS form
        setupValidation('GIS'); // for GIS form
        setupValidation('DistrictManager'); // for District Manager form
        setupValidation('RegionalEngineer'); // for Regional Engineer form
        setupValidation('DirectorOfOperations'); // for Director of Operations form
        setupValidation('ChiefEngineerOfOperations'); // for Chief Engineer of Operations form
        setupValidation('DeniedDistrictManager'); // for Denied District Manager form

        // Collapsible button script for showing details
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        // Ensure the sign buttons work for opening modals
        $(".signCentralHDS").click(function () {
            $("#sigtype").val($(this).val());
            $("#signModalHDS").modal('show');
        });

        $(".signCentralGIS").click(function () {
            $("#sigtype").val($(this).val());
            $("#signModalGIS").modal('show');
        });

        $(".signCentralDistrictManager").click(function () {
            $("#sigtype").val($(this).val());
            $("#signModalDistrictManager").modal('show');
        });

        $(".signCentralRegionalEngineer").click(function () {
            $("#sigtype").val($(this).val());
            $("#signModalRegionalEngineer").modal('show');
        });

        $(".signCentralDirectorOfOperations").click(function () {
            $("#diropsigtype").val($(this).val());
            $("#signModalDirectorOfOperations").modal('show');
        });

        $(".signCentralChiefEngineerOfOperations").click(function () {
            $("#chiefsigtype").val($(this).val());
            $("#signModalChiefEngineerOfOperations").modal('show');
        });

        $(".signCentralDeniedDistrictManager").click(function () {
            $("#dismansigtype").val($(this).val());
            $("#signModalDeniedDistrictManager").modal('show');
        });
    });

</script>



@*@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralGIS")
{
    <hr />
    <p>Central GIS Manager Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("GIS Manager"))
    {
        <hr />
        <h4>GIS Manager Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="gissiglabel">GIS Manager</span>
            <input type="text" class="form-control" readonly value="@gissig" />
            <button class="btn btn-primary signCentral" value="GIS Manager">Sign</button>
        </div>
        <button class="collapsible">GIS Manager Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "GIS Manager"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }
            }
        </div>
    }
}
@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralSecondHDS")
{
    <hr />
    <p>Central Second HDS Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("HDS"))
    {
        <hr />
        <h4>Second HDS Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="hdssiglabel">HDS</span>
            <input type="text" class="form-control" readonly value="@hdssig" />
            <button class="btn btn-primary signCentral" value="HDS">Sign</button>
        </div>
        <button class="collapsible">Second HDS Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "HDS"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }
            }
        </div>
    }
}
@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralChief")
{
    <hr />
    <p>Central Chief Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("Chief"))
    {
        <hr />
        <h4>Chief Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="chiefsiglabel">Chief</span>
            <input type="text" class="form-control" readonly value="@chiefsig" />
            <button class="btn btn-primary signCentral" value="Chief">Sign</button>
        </div>
        <button class="collapsible">Chief Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "Chief"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }
            }
        </div>
    }
}
@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralThirdHDS")
{
    <hr />
    <p>Central Third HDS Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("HDS"))
    {
        <hr />
        <h4>Third HDS Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="hdssiglabel">HDS</span>
            <input type="text" class="form-control" readonly value="@hdssig" />
            <button class="btn btn-primary signCentral" value="HDS">Sign</button>
        </div>
        <button class="collapsible">Third HDS Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "HDS"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }
            }
        </div>
    }
}
@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralLRS")
{
    <hr />
    <p>Central LRS Signature:</p>
    <hr />
    @if (Model.SigneesRoles.Contains("LRS"))
    {
        <hr />
        <h4>LRS Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="lrssiglabel">LRS</span>
            <input type="text" class="form-control" readonly value="@lrssig" />
            <button class="btn btn-primary signCentralLRS" value="LRS">Sign</button>
        </div>
        <button class="collapsible">LRS Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "LRS"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }
            }
        </div>
    }
}


<div class="modal" id="signModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMHubCentral" asp-controller="CENTRAL79HUB">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="deny">Deny</label>&nbsp;
                            <input type="radio" id="deny" name="denradio" value="deny" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="signModalLRS">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedformLRS">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMHubCentral" asp-controller="CENTRAL79HUB">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtypeLRS" />

                            <label for="uploadComplete">Upload Complete</label>
                            <input type="radio" id="uploadComplete" name="apradio" value="approve" checked />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*@using OM_79_HUB.Models;

@model OM_79_HUB.Components.LinkedSignatureToSignViewComponent.SignaturesToSignViewModel

@{
    string hdssig = Model.CurrentSignatures.FirstOrDefault(t => t.SigType == "HDS")?.Signatures ?? "HDS Not Signed";
    string gissig = Model.CurrentSignatures.FirstOrDefault(t => t.SigType == "GIS Manager")?.Signatures ?? "GIS Manager Not Signed";
    string chiefsig = Model.CurrentSignatures.FirstOrDefault(t => t.SigType == "Chief")?.Signatures ?? "Chief Not Signed";
}


@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralHDS")
{
    <hr />
    <p>Central HDS Signature:</p>
    <hr />


    @if (Model.SigneesRoles.Contains("HDS"))
    {
        <hr />
        <h4>HDS Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="bridgesiglabel">HDS</span>
            <input type="text" class="form-control" readonly value="@hdssig" />
            <button class="btn btn-primary signCentral" value="HDS">Sign</button>
        </div>
        <button class="collapsible">HDS Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "HDS"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }

            }
        </div>
    }
}
@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralGIS")
{
    <hr />
    <p>Central HDS Signature:</p>
    <hr />


    @if (Model.SigneesRoles.Contains("GIS Manager"))
    {
        <hr />
        <h4>HDS Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="bridgesiglabel">GIS Manager</span>
            <input type="text" class="form-control" readonly value="@gissig" />
            <button class="btn btn-primary signCentral" value="GIS Manager">Sign</button>
        </div>
        <button class="collapsible">GIS Manager Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "GIS Manager"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }

            }
        </div>
    }
}
@if (Model.OmEntry.WorkflowStep == "SubmittedToCentralChief")
{
    <hr />
    <p>Central HDS Signature:</p>
    <hr />


    @if (Model.SigneesRoles.Contains("Chief"))
    {
        <hr />
        <h4>HDS Signature:</h4>
        <hr />
        <div class="input-group">
            <span class="input-group-text" id="bridgesiglabel">Chief</span>
            <input type="text" class="form-control" readonly value="@chiefsig" />
            <button class="btn btn-primary signCentral" value="Chief">Sign</button>
        </div>
        <button class="collapsible">Chief Details</button>
        <div class="content">
            @foreach (var item in Model.CurrentSignatures.Where(s => s.SigType == "Chief"))
            {
                <div class="signature-info">
                    <p><strong>Signature:</strong> @item.Signatures</p>
                </div>
                <div class="comment-info">
                    <p><strong>Comments:</strong> @item.Comments</p>
                </div>
                @if (item.IsApprove)
                {
                    <div class="approval-info">
                        <p><strong>Approval Status:</strong> Approved</p>
                    </div>
                }
                @if (item.IsDenied)
                {
                    <div class="denial-info">
                        <p><strong>Denial Status:</strong> Denied</p>
                    </div>
                }

            }
        </div>
    }
}




<div class="modal" id="signModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Requisition</h3>
                <div class="justify-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="containedform">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="SignOMHub" asp-controller="CENTRAL79HUB">
                            <input type="hidden" name="HubKey" value="@ViewBag.TestUniqueID" />
                            <input type="hidden" value="" name="sigtype" id="sigtype" />
                            <label for="approve">Approve</label>
                            <input type="radio" id="approve" name="apradio" value="approve" />
                            <label for="deny">Deny</label>&nbsp;
                            <input type="radio" id="deny" name="denradio" value="deny" />
                            <br />
                            <label class="form-label" for="signaturemodal">Signature</label>
                            <input type="text" id="sigbox" name="signaturemodal" class="form-control" />
                            <br />
                            <label class="form-label" for="commentsmodal">Comments</label>
                            <textarea id="comments" name="commentsmodal" class="form-control" rows="4" cols="50"></textarea>
                            <br />
                            <input type="submit" id="modalsubmitbutton" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        // Ensure the sign button works
        $(".signCentral").click(function () {
            $("#sigtype").val($(this).val());
            $("#signModal").modal('show');
        });
    });
</script>*@