@model PJ103V3.Models.ViewModels.Aclvl

@{
    ViewData["Title"] = "Edit Nature of Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Nature of Change Section</h2>

<div class="container">
    <form asp-action="Edit">

        <input type="hidden" asp-for="SubmissionID" />
        <input type="hidden" asp-for="DateComplete" />


        <!-- Access Control, Through Lanes, Counter Peak Lanes -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="AccessControl" class="control-label"></label>
                <select asp-for="AccessControl" class="form-control" asp-items="@ViewBag.AccessDropdown"></select>
                <span asp-validation-for="AccessControl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="ThroughLanes" class="control-label"></label>
                <input asp-for="ThroughLanes" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="ThroughLanes" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="CounterPeakLanes" class="control-label"></label>
                <input asp-for="CounterPeakLanes" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="CounterPeakLanes" class="text-danger"></span>
            </div>
        </div>

        <!-- Peak Lanes, Reverse Lanes, Median Width -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="PeakLanes" class="control-label"></label>
                <input asp-for="PeakLanes" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="PeakLanes" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="ReverseLanes" class="control-label"></label>
                <select asp-for="ReverseLanes" class="form-control" asp-items="@ViewBag.ReverseDropdown"></select>
                <span asp-validation-for="ReverseLanes" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="MedianWidth" class="control-label"></label>
                <input asp-for="MedianWidth" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="MedianWidth" class="text-danger"></span>
            </div>
        </div>

        <!-- Lane Width, Grade Width, Roadway Width -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="LaneWidth" class="control-label"></label>
                <input asp-for="LaneWidth" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="LaneWidth" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="GradeWidth" class="control-label"></label>
                <input asp-for="GradeWidth" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="GradeWidth" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="PavementWidth" class="control-label"></label>
                <input asp-for="PavementWidth" class="form-control" type="number" step="1" min="0" />
                <span asp-validation-for="PavementWidth" class="text-danger"></span>
            </div>
        </div>

        <!-- Surface Type, Facility Type, Median Type -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="SurfaceTypeN" class="control-label"></label>
                <select asp-for="SurfaceTypeN" class="form-control" asp-items="@ViewBag.SurfaceTypeDropdown"></select>
                <span asp-validation-for="SurfaceTypeN" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="FacilityType" class="control-label"></label>
                <select asp-for="FacilityType" class="form-control" asp-items="@ViewBag.FacilityDropdown"></select>
                <span asp-validation-for="FacilityType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="MedianType" class="control-label"></label>
                <select asp-for="MedianType" class="form-control" asp-items="@ViewBag.MedianDropdown"></select>
                <span asp-validation-for="MedianType" class="text-danger"></span>
            </div>
        </div>

        <!-- Gov ID Ownership, WV Functional Class, Federal Functional Class -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="GovIDOwnership" class="control-label"></label>
                <select asp-for="GovIDOwnership" class="form-control" asp-items="@ViewBag.GovDropdown"></select>
                <span asp-validation-for="GovIDOwnership" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="WVlegalClass" class="control-label"></label>
                <select asp-for="WVlegalClass" class="form-control" asp-items="@ViewBag.LegalDropdown"></select>
                <span asp-validation-for="WVlegalClass" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="FunctionalClass" class="control-label"></label>
                <select asp-for="FunctionalClass" class="form-control" asp-items="@ViewBag.FuncDropdown"></select>
                <span asp-validation-for="FunctionalClass" class="text-danger"></span>
            </div>
        </div>

        <!-- Federal Aid, Special System, Federal Forest Highway -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="FederalAid" class="control-label"></label>
                <select asp-for="FederalAid" class="form-control" asp-items="@ViewBag.FederalDropdown"></select>
                <span asp-validation-for="FederalAid" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="SpecialSys" class="control-label"></label>
                <select asp-for="SpecialSys" class="form-control" asp-items="@ViewBag.SpecialDropdown"></select>
                <span asp-validation-for="SpecialSys" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="FedForestHighway" class="control-label"></label>
                <select asp-for="FedForestHighway" class="form-control" asp-items="@ViewBag.FedForestDropdown"></select>
                <span asp-validation-for="FedForestHighway" class="text-danger"></span>
            </div>
        </div>

        <!-- NHS, Truck Route, Starting MP -->
        <div class="form-row d-flex flex-wrap">
            <div class="form-group col-md-4 mb-3">
                <label asp-for="NHS" class="control-label"></label>
                <select asp-for="NHS" class="form-control" asp-items="@ViewBag.NHSDropdown"></select>
                <span asp-validation-for="NHS" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label asp-for="TruckRoute" class="control-label"></label>
                <select asp-for="TruckRoute" class="form-control" asp-items="@ViewBag.TruckDropdown"></select>
                <span asp-validation-for="TruckRoute" class="text-danger"></span>
            </div>
            @*<div class="form-group col-md-4 mb-3">
                <label asp-for="MPSegmentStart" class="control-label">@Html.DisplayNameFor(model => model.MPSegmentStart)<span class="text-danger">*</span></label>
                <input asp-for="MPSegmentStart" class="form-control" type="number" step="0.001" min="0" pattern="^\d+(\.\d{1,4})?$" />
                <span asp-validation-for="MPSegmentStart" class="text-danger"></span>
            </div>*@
            <div class="form-group col-md-4 mb-3">
                <label asp-for="MPSegmentStart" class="control-label">
                    @Html.DisplayNameFor(model => model.MPSegmentStart)
                    <span class="text-danger">*</span>
                </label>
                <input asp-for="MPSegmentStart" class="form-control" type="number"
                       step="0.001" min="0" pattern="^\d+(\.\d{1,3})?$" asp-format="{0:F3}" />
                <span asp-validation-for="MPSegmentStart" class="text-danger"></span>
            </div>
        </div>

        <!-- Ending MP and Additional Comments -->
        <div class="form-row d-flex flex-wrap">
            <!-- Ending MP -->
            <div class="form-group col-md-4 mb-3">
                <label asp-for="MPSegmentEnd" class="control-label">
                    @Html.DisplayNameFor(model => model.MPSegmentEnd)
                    <span class="text-danger">*</span>
                </label>
                <input asp-for="MPSegmentEnd" class="form-control" type="number"
                       step="0.001" min="0" pattern="^\d+(\.\d{1,3})?$" asp-format="{0:F3}" />
                <span asp-validation-for="MPSegmentEnd" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8 mb-3">
                <label asp-for="OtherBox" class="control-label">Additional Comments</label>
                <textarea asp-for="OtherBox" class="form-control" rows="4"></textarea>
                <span asp-validation-for="OtherBox" class="text-danger"></span>
            </div>
        </div>

        <br />
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Save Segment Changes</button>
        </div>
        <br />
        <br />
    </form>
</div>

<div>
    <a asp-action="EditPackage" asp-controller="CENTRAL79HUB" asp-route-id="@ViewBag.OMId" class="btn btn-secondary">Return to Package Editor</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
