@model IEnumerable<PJ103V3.Models.DB.Submission>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
</br>
<h1 style="font-weight: bold">
    PJ103 Segments</h1>
@*
<p>
    <a asp-action="Create">Create New</a>
</p>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubRouteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NatureOfChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintOrg)
            </th>

            @*  <th>
            @Html.DisplayNameFor(model => model.YearOfSurvey)
            </th>
            *@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubRouteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NatureOfChange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintOrg)

                </td>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.YearOfSurvey)
            </td>
            *@

                <td>
                  @*  <a asp-action="Edit" asp-route-id="@item.SubmissionID">Edit</a> |    needs work *@
                    <a asp-action="Details" asp-route-id="@item.SubmissionID">Details</a> |
                 @*   <a asp-action="Delete" asp-route-id="@item.SubmissionID">Delete</a>  *@
                </td>
            </tr>
        }
    </tbody>
</table>
