@model IEnumerable<OMTable>

@{
    Layout = "~/Views/Shared/_OM79Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoadChangeType)
            </th>
            @*
            <th>
            @Html.DisplayNameFor(model => model.Otherbox)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.RouteAssignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightOfWayWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Railroad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOTAARNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>
            @*
            <th>
            @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.AdjacentProperty)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.APHouses)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.APBusinesses)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.APSchools)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.APOther)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.APOtherIdentify)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Attachments)
            </th>
            *@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RoadChangeType)
                </td>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.Otherbox)
            </td>
            *@
                <td>
                    @Html.DisplayFor(modelItem => item.RouteAssignment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RightOfWayWidth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Railroad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOTAARNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedBy)
                </td>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.AdjacentProperty)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.APHouses)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.APBusinesses)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.APSchools)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.APOther)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.APOtherIdentify)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Attachments)
            </td>
            *@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
