@model IEnumerable<OMTable>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
</br>
<h1 style="font-weight: bold">
    OM-79 Items</h1>
</hr>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteIDB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoadChangeType)
            </th>
            @*
            <th>
            @Html.DisplayNameFor(model => model.Otherbox)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.RouteAssignment)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteIDB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RoadChangeType)
                </td>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.Otherbox)
            </td>
            *@
                <td>
                    @Html.DisplayFor(modelItem => item.RouteAssignment)
                </td>
               

                <td>
                 @*   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |  *@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                 @*   <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
